.buildpath
.hgignore.swp
.project
.orig
.swp
.idea/
.settings/
.vscode/
vender/
composer.lock
gitpush.sh
bin/
build
*/.DS_Store
config/config*.yaml*
main
.vscode
go.sum
build/
.private/
swagger.yaml
version/version.go
.DS_Store
tmp/
__debug_bin/*
__debug_bin
app/**/longtest*
test/
internal/security/*_test.go
devspace.yaml
build.sh
.devspace/
config/config.json
